---
import { LINKS } from "../lib/constants";
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Currently studying and working part time</p>
  <p class="text-xs">
    <a href={LINKS.cv} target="_blank" class="text-blue underline"
      >Click here to view my résumé and past experiences</a
    >
  </p>
</Card>
